# Virtual Environments (This stops the 10K file upload)
venv/
__pycache__/

# Databases & Heavy Media
archives.db
Archive_Images/
PDF BOOKS/

# Temporary & Log Files
tmp_payloads/
logs/

# Executables and Downloaded Installers
cloudflared.exe
*.deb
*.tgz