# This requirements file is used to install all the dependencies for the project in linux OS
# ==========================================
# Core Web Server & API Framework
# ==========================================
fastapi
uvicorn
python-multipart
pydantic

# ==========================================
# Security & Authentication
# ==========================================
passlib[bcrypt]
python-jose[cryptography]

# ==========================================
# AI, Vision & OCR Engine
# ==========================================
paddleocr
# Replaced standard opencv to prevent libGL.so.1 crashes on Linux
opencv-python-headless
numpy
PyMuPDF

# ==========================================
# Document Export & Generation
# ==========================================
xhtml2pdf